/* App.css */
.countryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countryCard {
  margin: 10px;
  text-align: center;
  flex: 0 0 calc(14.28% - 20px); /* Adjust the width as needed for 7 boxes in a row */
  max-width: calc(14.28% - 20px);
  box-sizing: border-box;
  border: 1px solid #ccc; /* Solid border style */
}

.countryFlag {
  width: 100px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Center the search bar */
input[type="text"] {
  display: block;
  margin: 20px auto;
  padding: 8px;
}